<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AARO</title>
 <!-- CSS only -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">   
 <link rel="stylesheet" href="/static/home.css">
 <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
 

</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">AARO.</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Aboutus">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contactus">Contact us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <img src="/static/images/Add a heading (3).png" alt="Add a heading (3).png">
      <div class="button">
      <a href="/signup"><button type="button" class="btn1 btn-dark btn-lg">Sign up</button></a>
      <a href="/login"><button type="button" class="btn2 btn-light btn-lg">Log in</button></a>
    </div>
    <hr>

    <div id="Aboutus">
      <img src="/static/images/Orange Bold & Modern PR Consultant Portfolio Website.png" alt="">
    </div>
    <hr>
    
    <div id="contactus" class= "contact">
        
        <a href=""></a><i class="fab fa-instagram fa-2x"></i>
        <a href="https://github.com/AARO-FLOOD-DETECTION"><i class="fab fa-github fa-2x"></i></a>
        <a href="mailto:aarofloods@gmail.com"><i class="far fa-envelope fa-2x"></i></a>
        <i class="fab fa-whatsapp fa-2x"></i>
        <a href="https://www.facebook.com/AARO-FLOOD-Detection-100588542277496"><i class="fab fa-facebook fa-2x"></i></a>
        
    
  </div>

<!-- JavaScript Bundle with Popper -->






<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>

